.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;
	margin: 0;
	padding: 0;
}

.card {
	border: 1px solid black;
	margin: 10px;
	cursor: pointer;
}

html {
	font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	line-height: 1.6;
	color: #fff;
	background: #141414;
}

.navbar {
	display: flex;
	margin: 20px;
	padding: 0;
	text-align: center;
}

#searchInput {
	border-radius: 50px;
	outline: none;
	border: none;
	padding: 0 25px;
	font-size: 20px;
	height: 50px;
	width: 0px;
	box-sizing: border-box;
	transition: all 0.7s ease-in-out;
	position: absolute;
	top: 0;
	right: 0;
}

#searchButton {
	border-radius: 50%;
	transition: all 0.5s ease;
	position: absolute;
	top: 0;
	right: 0;
	background: #fff;
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 50%;
	font-size: 20px;
	outline: none;
	transition: all 0.5s ease;
	cursor: pointer;
}

.searchStyle {
	position: absolute;
	top: 10px;
	right: 20px;
}

input.focused {
	width: 400px !important;
}

#searchResults {
	position: absolute;
	right: 50px;
	background: #141414;
	width: 350px;
	cursor: pointer;
}

.details {
	width: 65%;
}

.details-container {
	display: flex;
	margin: 5% 10%;
}

.image {
	width: 35%;
	border-radius: 3px;
}
